



p { 
    display:flex;
    justify-content: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-shadow: 2px 4px 10px white;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.form1 {
    display: inline-block;
    position: absolute;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20 px;
    text-shadow: 2px 4px 10px white;
    top: 30px;
    left: 200px;
    overflow: hidden;
}

.form2 {
    bottom:100 px;
    left: 500 px;
}





