
 
p { 
    text-align: center; 
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-shadow: 2px 4px 10px white;
    position: absolute;
}

#star-six {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid white;
    position: relative;
  }
  #star-six:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid white;
    position: absolute;
    content: "";
    top: 100px;
    left: 900px;
  }


