body {
    background-image: url("IMG_4787.PNG");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: relative; 
    margin: 0; 
    font-family: 'Times New Roman', Times, serif; 
}