
h1 {
    color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        text-shadow: 2px 4px 10px white;
        text-align: center;
        

}

body {

        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-shadow: 2px 4px 10px white;
        
    }

    a {
        color: white;
      }